<% @title = 'システム管理ダッシュボード' %>
<h1><%= @title %></h1>

<%= link_to '記事一覧', :admin_articles, class: 'btn btn-info' %>
<%= link_to 'カテゴリー一覧', :admin_categories, class: 'btn btn-info' %>
<%= link_to 'ログアウト', :admin_session, method: :delete %>
