<h2>パスワードを忘れた方</h2>
<p>メールアドレスを入力し、届いたメールに記載されているリンクをクリックしてください。</p>

<%= form_for @form, url: :customer_forgot_password do |f| %>
  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email %>
  </div>
    <%= f.submit '送信する', class: 'btn btn-info' %>
<% end %>
