<h2>パスワードを忘れた方</h2>

<%= form_for @form, url: :customer_forgot_password do |f| %>
  <%= markup do |m|
    m.div(flash[:alert], class: 'message danger') if flash[:alert].present?
    m.div(flash[:notice], class: 'message info') if flash[:notice].present?
    m.p 'メールアドレスを入力し、届いたメールに記載されているリンクをクリックしてください。'
    m.div(class: 'form-group') do
      m << f.label(:email, 'メールアドレス')
      m << f.text_field(:email, class: 'form-control')
    end
    m.div do
      m << f.submit('送信する', class: 'btn btn-info')
    end
  end %>
<% end %>
